<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <sectionGroup name="businessObjects">
      <!--<sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=14.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>-->
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="IUMSNXG" connectionString="Data Source=20.219.123.206,50909;Initial Catalog=HPU_SecurityAudit;User ID=hpuuser;Password=Hpu#@321;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="dbConnString" value="Data Source=20.219.123.206,50909;database=HPU_SecurityAudit;uid=hpuuser;pwd=Hpu#@321;" />   
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="UserName" value="system" />
    <add key="Password" value="system" />
    <add key="PageSize" value="10" />
    <add key="ServerN" value="192.168.10.66" />
    <add key="DatabaseN" value="APF_ERP" />
    <add key="UIDN" value="expedien" />
    <add key="PWDN" value="exp@123" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="ftpPathPlacementCV" value="ftp://192.168.10.66/PlcStudentCV/" />
    <add key="ftpstudentassignment" value="ftp://192.168.10.66/StudentAssignmentsDoc/" />
    <add key="ftpTeacherAssignmentsDoc" value="ftp://192.168.10.66/TeacherAssignmentsDoc/" />
    <add key="StudentImg" value="ftp://192.168.10.66/StudentImg/" />
    <add key="ftpPlcBroucher" value="ftp://192.168.10.66/PLCBRO/" />
    <add key="ftpPlcDescription" value="ftp://192.168.10.66/PLCDESC/" />
    <add key="httpsiteLocal" value="http://192.168.10.66/FTPsite/" />
    <add key="httpsiteKvasu" value="http://117.239.77.7/erpapp/DOCS/" />
  </appSettings>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" enableEventValidation="true" autoEventWireup="false" validateRequest="true" theme="skyblue" clientIDMode="AutoID" viewStateEncryptionMode="Always" enableViewStateMac="true">
      <controls>
        <add tagPrefix="Anthem" namespace="Anthem" assembly="Anthem" />
        <add tagPrefix="subsonic" namespace="SubSonic" assembly="SubSonic" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
	 	<trace enabled="false" pageOutput="false" />
 
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="CrystalDecisions.Data.AdoDotNetInterop, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Design, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.TemplateEngine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Enterprise.Viewing.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
     <!--<sessionState mode="InProc" timeout="25" />-->
	 <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="25" />
    <authorization>
      <deny verbs="TRACE" users="*" />
      <deny verbs="HEAD" users="*" />
      <deny verbs="OPTIONS" users="*" />
    </authorization>
    <authentication mode="Windows" />
    <!--<customErrors mode="Off" defaultRedirect="ErrorPage.html" />-->
     <customErrors mode="Off" defaultRedirect="ErrorPage.html" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="5242880" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="false" enableHeaderChecking="false" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" />
     <!-- <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <httpModules>
      <remove name="PassportAuthentication" />
      <remove name="Profile" />
      <remove name="AnonymousIdentification" />
    </httpModules>
  </system.web>
  <SubSonicService defaultProvider="IUMSNXG">
    <providers>
      <clear />
      <add name="IUMSNXG" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="IUMSNXG" generatedNamespace="IUMSNXG" />
    </providers>
  </SubSonicService>
 
  <system.webServer xmlns="">
   <httpProtocol>
            <customHeaders>
			<clear />
                <remove name="X-Powered-By" />
                <add name="Access-Control-Allow-Methods" value="GET,POST" />
                <add name="x-content-type" value="nosniff" />
                <add name="X-Content-Type-Options" value="nosniff" />
				<remove name="ETag" />
                <add name="ETag" value="None" />
                <add name="Access-Control-Allow-Headers" value="Content-Type" />
              <!-- replace value="URL of your application" by your application url-->
               
               <!-- <add name="Content-Security-Policy" value="default-src 'self';" />-->
                <add name="strict-transport-security" value="1; mode=max-age=31536000; includeSubDomains; preload" />
				<remove name="X-AspNetMvc-Version" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />  
				 <remove name="Server" />
            </customHeaders>
			<redirectHeaders>
      <clear />
   </redirectHeaders>
        </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
	  <staticContent>
      <clientCache cacheControlMode="DisableCache" setEtag="false" />
    </staticContent>
	<directoryBrowse enabled="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="Loginpage.aspx" />
            </files>
        </defaultDocument>
		
		  <security>
            <requestFiltering>
			 
                <verbs>
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                    <add verb="OPTIONS" allowed="false" />
                    <add verb="DELETE" allowed="false" />
                    <add verb="TRACE" allowed="false" />
                    <add verb="PATCH" allowed="false" />
                    <add verb="CONNECT" allowed="false" />
                    <add verb="PUT" allowed="false" />
                    <add verb="DEBUG" allowed="false" />
                </verbs>
                <filteringRules>
                    <filteringRule name="sqlinjection" scanUrl="true" scanQueryString="true">
                        <appliesTo>
                            <add fileExtension=".aspx" />
                        </appliesTo>
                        <denyStrings>
                            <add string="select" />
                            <add string="drop" />
                            <add string="insert" />
                            <add string="update" />
                            <add string="delete" />
                        </denyStrings>
                    </filteringRule>
                </filteringRules>
                
            </requestFiltering>
        </security>		
		<rewrite>
  <outboundRules>
    <rule name="Remove Server and X-Powered-By headers">
      <match serverVariable="RESPONSE_SERVER" pattern=".*" />
      <action type="Rewrite" value="" />
      <conditions>
      </conditions>
    </rule>
  </outboundRules>
</rewrite>
        
		
  </system.webServer>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.242.0" newVersion="9.0.242.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>